.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:auto;
    float:right;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
}

.heading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.input {
    height: 30px;
    width: 70%;
    margin-top: 20px;
    margin-left: 10%;
    background: #e8e8e8;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.input:focus {
    outline: 0;
}