.body {
    overflow: hidden;
}

.dashboard {
    background:#DBDBDB;
    height:100vh;
    width: auto;
    top: 0;
    left: 0;
}

.minlogo {
    margin-top: 0.6vw;
    margin-left: 1vw;
    height: 2.8vw;
    width: 2.8vw;
}

.editProfile {
    padding-right: 8px;
    color: white;
    font-weight: 500;
    font-size: 100%;
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    width: 63px;
    height: 29px;
    left: 548px;
    top: 543px;
    background: #E9A800;
    border: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    text-align:right;
    cursor: pointer;
}

.editProfile:hover {
    background: #e9b00d;
}

.editProfile:focus {
    outline: 0;
}

.editImage {
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}

.dashboard-version {
    background: #E9A800;
    float:right;
    margin-top:35px;
    margin-right:35px;
    border:0;
    height:25px;
    color:white;
    font-weight:500;
    box-shadow: 0px 2px 2px #d4d4d4;
    cursor:pointer;
}

.popup {
    z-index: 2;
    background-color:rgba(252, 252, 252, 0.98)!important;
    max-height: 80%;
    max-width: 75%;
    color: black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.06);
    margin-right: 2%!important;
}

.dashboard-version:focus {
    outline:0;
}

.dashboard-header {
    z-index: 0;
    background:#fff;
    height:65px;
    border-bottom: 1px solid #E2E5E6;
    position: fixed;
    width: 100%;
}

.heading {
    padding-bottom: 15px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.header-avi {
    float:right;
    margin-right:25px;
    margin-top:10px;
    height:50px;
    width:50px;
}

.dashboard-info {
    position:absolute;
    display:inline-block;
    background:#fff;
    width:30%;
    margin-left:25%;
    height:auto;
    margin-top:125px;
    border-radius:10px;
    box-shadow: 0px 5px 2px #d4d4d4;
    padding-bottom:20px;
}

.dashboard-xp {
    position:absolute;
    display:inline-block;
    background:#fff;
    width:35%;
    min-width:325px;
    margin-left:60%;
    margin-top:125px;
    height:304px;
    border-radius:10px;
    box-shadow: 0px 5px 2px #d4d4d4;
    padding-bottom:20px;
}

.dashboard-xp-header {
    height:40px;
    border-bottom:1px solid #EBEFF2;
    line-height:40px;
    padding-left:20px;
    font-weight: 500;
}

.img {
    height:203px;
    width:203px;
    margin-left: 10px;
    margin-top: 5%;
    margin-bottom: 0;
}

.profile-info-table {
    margin-left:25px;
}

.profile-field {
    font-size:80%;
    font-weight:500;
    padding:10px;
}

.profile-field-entry {
    font-size:80%;
    font-weight:300;
    padding:10px;
}

.edit-avi {
    background:#fff;
    position:absolute;
    margin-left:154px;
    margin-top:164px;
    border-radius:20px;
    padding-top:4px;
    border:0;
    height:30px;
    width:30px;
    box-shadow: 0px 2px 2px #d4d4d4;
    cursor:pointer;
}

.edit-avi:hover {
    background:#FFF4D9;
}

.edit-avi:focus {
    outline-color:#E9A800;
    outline-width:1px;
}

.help-now {
    background: #E9A800;
    font-weight:500;
    height:23px;
    width:85px;
    color:white;
    border-radius: 4px;
    border-width:0;
    margin-left:20px;
    margin-top:23px;
    text-align:right;
    font-size:65%;
    cursor:pointer;
}

.help-now:hover {
    background: #f5b40f;
}

.help-now:focus {
    outline-color:#E9A800;
    outline-width:1px;
}

.help-now img {
    height:10px;
    width:10px;
    float:left;
    margin-top:1px;
    margin-right:1px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup\_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
}