.dashboard {
    background:#DBDBDB;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-header {
    background:#fff;
    height:55px;
    border-bottom: 1px solid #E2E5E6;
}

.help-now {
    background: #E9A800;
    font-weight:500;
    height:23px;
    width:85px;
    color:white;
    border-radius: 4px;
    border-width:0;
    margin-left:20px;
    margin-top:17px;
    text-align:right;
    font-size:65%;
    cursor:pointer;
}

.help-now:hover {
    background: #f5b40f;
}

.help-now:focus {
    outline-color:#E9A800;
    outline-width:1px;
}

.help-now img {
    height:10px;
    width:10px;
    float:left;
    margin-top:1px;
    margin-right:1px;
}