.messages {
    width: 90%;
    min-height: 450px;
    max-height: 450px;
    margin-right: 100px;
    overflow-x: hidden!important;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none!important;
}

.messages {
    -ms-overflow-style: none!important;
    scrollbar-width: none!important;
}

.sentText {
    margin-bottom: -15px;
}

.messageText {
    font-size: 90%;
}