.messageContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 40px;
}

.adminMessageContainer {
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
    padding: 0px 40px;
    margin: 5px -5px;
}

.recievingMessageContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFF4D9;
    min-width: 100%;
    padding: 10px 40px;
}

.messageContainerSame {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 40px;
}

.receivingMessageContainerSame {
    display: flex;
    flex-direction: column;
    background-color: #FFF4D9;
    padding: 0 40px;
}

.avatar {
    height: 35px;
    width: 35px;
    float: left;
    display: inline;
}

.sentText {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 70%;
    padding-bottom: 3px;
    float: left;
    display: inline;
    margin-left: 5px;
}

.identifer {
    float: left;
    display: inline;
}

.messageText {
    font-family: Roboto;
    font-size: 18px;
    line-height: 130%;
}


.messageBox {
    padding-left: 15px;
    padding-right: 15px;
}

