
.logIn {

    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: #FFFFFF;
    
    }
    
    .rectangle {
    
    position: absolute;
    width: 734px;
    height: 1054px;
    left: 0px;
    top: -15px;
    
    background: #4200AD;
    }

    
    
    .welcomeBack {
    
    position: absolute;
    width: 633px;
    height: 374px;
    left: 101px;
    top: 325px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 130%;
    /* or 187px */
    
    color: #FFFFFF;
    }
    
    .rectangle_2 {
    
    position: absolute;
    width: 329px;
    height: 58px;
    left: 919px;
    top: 325px;
    
    border: 3px solid #4200AD;
    border-radius: 50px;
    
    }
    .rectangle_2_1 {
    
    position: absolute;
    width: 329px;
    height: 58px;
    left: 919px;
    top: 410px;
    
    border: 3px solid #4200AD;
    border-radius: 50px;
    }
    
    .rectangle_2_2 {
    
    position: absolute;
    width: 329px;
    height: 58px;
    left: 919px;
    top: 570px;
    
    border: 3px solid #4200AD;
    border-radius: 50px;
    
    }
    .logInWithGoogle {
    
    position: absolute;
    width: 167px;
    height: 26px;
    left: 944px;
    top: 339px;

    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    
    color: #4200AD;
    }
    
    
    .logInWithFacebook {
    
    position: absolute;
    width: 191px;
    height: 26px;
    left: 944px;
    top: 425px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    
    color: #4200AD;
    }
    
    
    .dontHaveAnAccount {
    
    position: absolute;
    width: 271px;
    height: 31px;
    left: 961px;
    top: 825px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    
    color: #000000;
    }
    
    
    .logInWithEmail {
    
    position: absolute;
    width: 161px;
    height: 26px;
    left: 944px;
    top: 584px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    
    color: #4200AD;
    
    }
    
    .or {
    
    position: absolute;
    width: 17px;
    height: 21px;
    left: 944px;
    top: 515px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    color: #000000;
    }
    
    
    
    .facebookCircle_512 {
    
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1195px;
    top: 416px;
    
    background: url("../images/facebook_circle-512Fb.png");
    }
    
    .google {
    
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1195px;
    top: 331px;
    
    }
    
    .ellipse {
    
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1195px;
    top: 331px;
    
    background: #FFFFFF;
    
    }
    .newGoogleFavicon_512 {
    
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1201px;
    top: 337px;
    
    background: url("../images/new-google-favicon-512.png");
    }

    .sign-up-button {
        font-weight: bold;
        color: #4200AD;    
    }
    